<!DOCTYPE html>
<html lang="en">
<head> 
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pokédex - @ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3" style="background-color: red !important;">
            <div class="container">
                <a class="navbar-brand" style="color: white !important" asp-area="" asp-controller="Home" asp-action="Login"><img src="https://cdn.bulbagarden.net/upload/4/4b/Pok%C3%A9dex_logo.png" width="150" /></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <!--
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                -->
                <div class=" float-right">
                    <ul class="navbar-nav flex-grow-1" style="color:white;">
                        @if (ViewData["Nome"] != null)
                        {
                            <li style="margin-top: 20px; font-size:24px">
                                <b>@Html.ActionLink($"{ViewData["Nome"]}", "Detalhes", "Usuario", new { id = ViewData["UsuarioID"] }, new { @style = "text-decoration: none; color:white;" })</b>
                                &nbsp
                            </li>


                            <li>
                                <a href="@Url.ActionLink("Detalhes", "Usuario", new { id = ViewData["UsuarioID"] })">
                                    <img src="@ViewData["URL"]" width="80" style="border-radius: 50%; background-color:white" />
                                </a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container" style="background-color: white !important;">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted" style="background-color: red; color: white;">
        <div class="container" style="background-color:red; color: white;">
            <div class="float-left">
                &copy; 2020 - Pokedex
            </div>
            <div class="float-right" style="text-align:center; color:white;">
                 Feito por Gabrielle
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
