@model Pokedex.Models.Usuario

@{
    ViewData["Title"] = "Detalhes";
    ViewData["URL"] = Model.Pokemon.Url_Sprite_front_default;
    ViewData["Nome"] = Model.Nome;
    ViewData["UsuarioID"] = Model.UsuarioID;
}

<h3>Meu Perfil</h3>

<div>
    <h4>Bem vindo @Model.Nome</h4>
    <div>
        @Html.ActionLink("Pokédex", "Visualizar", "Pokemon", new { id = Model.UsuarioID }, new { @class = "btn btn-outline-danger" })
        @Html.ActionLink("Meu Pokémon", "Detalhes", "Pokemon", new { id = Model.PokemonId, usuarioid = Model.UsuarioID }, new { @class = "btn btn-outline-success" })
        @Html.ActionLink("Alterar meus dados", "Editar", "Usuario", new { id = Model.UsuarioID }, new { @class = "btn btn-outline-primary" })
        <div class="float-right">
            <a href ="@Url.ActionLink("Detalhes","Pokemon",new {id = Model.PokemonId, usuarioid = Model.UsuarioID })">
                <img src="@Model.Pokemon.Url_Sprite_front_default" width="300" style="margin-top: 5%" />
            </a>
        </div>
    </div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UsuarioAcesso)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UsuarioAcesso)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SenhaAcesso)
        </dt>
        <dd class="col-sm-10">
            **********
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PokemonId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PokemonId)
        </dd>
        <dt class="col-sm-2">
            Seu Pokemon
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pokemon.Nome)
        </dd>
    </dl>
</div>
