@model IEnumerable<Pokedex.Models.Usuario>

@{
    ViewData["Title"] = "Visualizar";
}

<h1>Visualizar</h1>

<p>
    <a asp-action="Criar">Criar Novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UsuarioAcesso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SenhaAcesso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pokemon)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UsuarioAcesso)
            </td>
            <td>
                ************
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pokemon.Nome)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.UsuarioID">Editar</a> |
                <a asp-action="Detalhes" asp-route-id="@item.UsuarioID">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.UsuarioID" asp-route-usuarioID="@item.UsuarioID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
