@model IEnumerable<Pokedex.Models.Usuario>

@{ 
    ViewData["Title"] = "Visualizar";
}

<h1>Visualizar</h1>
<p>
    <a class="btn btn-outline-primary" asp-action="Criar">Criar Novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                Usuário de acesso
            </th>
            <th>
                Senha de acesso
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pokemon)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UsuarioAcesso)
            </td>
            <td>
                @for (int i = 0; i < item.SenhaAcesso.Length; i++)
                {
                    <a>*</a>
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pokemon.Nome)
            </td>
            <td>
                <a class="btn btn-outline-primary" asp-action="Editar" asp-route-id="@item.UsuarioID">Editar</a> &nbsp;
                <a class="btn btn-outline-primary" asp-action="Detalhes" asp-route-id="@item.UsuarioID">Detalhes</a> &nbsp;
                <a class="btn btn-outline-primary" asp-action="Delete" asp-route-id="@item.UsuarioID" asp-route-usuarioID="@item.UsuarioID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
